<!DOCTYPE html>
<html>
<head>
<link href="styles/styles.css" rel="stylesheet">
</head>

<%= yield %>

<footer>
		<div class="bottom_bar">
			<a href="http://www.minedminds.org">Mined Minds</a>
		</div>
	</footer>
</html>
