<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<body>
		<h1>Cash Register Function</h1>
		<h2>Shows Quantities to Pull from Drawer</h2>
<!--		<hr>  horizonal line -->
		<fieldset>
		<form action="cashback" method="post">
		Total Amount Due:<br>
		$<input type="text" name="amount_due" required autofocus> <%= display_cost %>
		<br>
		<br>
		Total Amount Paid:<br>
		$<input type="text" name="amount_paid" required autofocus> <%= display_paid %><br><br>
		<input type="submit" name="submit" value="Calculate">
		<br><br>
		Change Due:    <%= change_due %><br><br>
		Cash from drawer:     <%= result %>
		<br>
		</form>
		</fieldset>

		<% if result != "" %>
		<div class="cashlist">
			<div class="fifty">
			<% if result[:fifty] != nil %>
				<% result[:fifty].times do %>
					<img src="images/fifty.png" alt="Fifty">
				<% end %>	
			<% end %>
			</div>

			<div class="twenty">
			<% if result[:twenty] != nil %>
				<% result[:twenty].times do %>
					<img src="images/twenty.png">
				<% end %>	
			<% end %>
			</div>
			
			<div class="ten">		
			<% if result[:ten] != nil %>
				<% result[:ten].times do %>
					<img src="images/ten.png">
				<% end %>	
			<% end %>
			</div>
			
			<div class="five">
			<% if result[:five] != nil %>
				<% result[:five].times do %>
					<img src="images/five.png">
				<% end %>
			<% end %>
			</div>
			
			<div class="dollar">			
			<% if result[:dollar] != nil %>
				<% result[:dollar].times do %>
					<img src="images/dollar.png">
				<% end %>
			<% end %>
			</div>		
			
			<div class="quarter">
			<% if result[:quarter] != nil %>
				<% result[:quarter].times do %>
					<img src="images/quarter.png" width="5%" height="5%">
				<% end %>
			<% end %>
			</div>
			
			<div class="dime">			
			<% if result[:dime] != nil %>
				<% result[:dime].times do %>
					<img src="images/dime.png" width="5%" height="5%">
				<% end %>
			<% end %>	
			</div>	
			
			<div class="nickel">
			<% if result[:nickel] != nil %>
				<% result[:nickel].times do %>
					<img src="images/nickel.png" width="5%" height="5%">
				<% end %>
			<% end %>	
			</div>		
			
			<div class="penny">
			<% if result[:penny] != nil %>
				<% result[:penny].times do %>
					<img src="images/penny.png" width="5%" height="5%">
				<% end %>
			<% end %>
			</div>
			
		</div>
		<% end %>

	</body>

</html>